body{
    background-color: #a1dbe3;
    font-family: Trebuchet 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
#container{
    width: 750px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    background-color: #FFF;
    border-right: solid 2px #52331c;
    border-left: solid 2px #52331c;
}
/* TEXT TAG STYLES*/
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 76px;
    color: #234d1e;
    margin-top: 0px;
    margin-bottom: 0px;
}

h2{
    font-weight: normal;
    margin-top: 0px;
    font-size: 26px;
}
h3{
    font-weight: bold;
    margin-top: 0px;
    font-size: 26px;
    color: #4d1e46;
}

p{
    font-size: 16px;
    color: #341e4d;
    padding: 0px;
    margin-top: 6px;
    margin-bottom: 6px;
}
/*MENU STYLES*/ 
#menu{
    width: 170px;
    float:left;
}
#menu ul{
    list-style-type: none;
    margin:0px;
    padding:0px;
}
#menu li{
    background-color: rgb(179, 255, 0);
    border: 1px solid #4d1e46;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 4px;
}
#menu a:link, #menu a:visited{
    color:rgb(247, 0, 255);
    font-weight: bold;
    text-decoration: none;
}
#menu a:hover, #menu a:active{
    color:azure;
    text-decoration: underline;
}

/*MAIN SECTION*/ 
#main{
    margin-left: 190px;
}
#main h3{
    color: #d16512;
    margin-top: 20px;
    margin-bottom: 4px;
    font-size: 24px;
}
#main p{
    font-size: 16px;
    margin-top: 6px;
    margin-bottom: 6px;
}
#main a:link, #main a:visited{
    color: #ff10db;
    text-decoration: underline;
}
#main a:hover, #main a:active{
    color: #4d1e46;
}
/*FOOTER SECTION*/ 
#footer{
    background-color: #ff87ed;
    margin-top: 20px;
    clear:both; /*MAKES THE FOOTER ALWAYS SIT UNDERNEATH THE MENU AND IMAGE*/
}
#footer p{
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px;
    color: #52331c;
    text-align: center;
}
#footer a:link, #footer a:visited{
    color: #1048ff;
    text-decoration: underline;
}
#footer a:hover, #footer a:active{
    color: #1e4d41;
/*LINK STYLES*/
a:link, a:visited{
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-decoration: none;
}
a:hover,a:active{
    color:rgb(153, 0, 0)p;
    text-decoration: underline;

}

/*CLASS STYLES*/
.rightfloat{
    border: 2px solid #341e4d;
    margin: 8px;
    float:right;

}
